# -*- mode: conf-unix; -*-
# http://editorconfig.org

# top-most EditorConfig file
root = true

# defaults
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# 4 space indentation for Python
[*.{ini,py,py.tpl,rst}]
indent_style = space
indent_size = 4
