# Runtime requirements
--requirement requirements.txt

# Testing
pytest==2.8.2
py==1.4.30
mock==1.3.0
httpretty==0.8.10

# Coverage
pytest-cov==2.2.0
coverage==4.0.1

# Linting
flake8==2.5.0
mccabe==0.3.1
pep8==1.6.2
pyflakes==1.0.0

# Documentation
Sphinx==1.3.1
six==1.10.0
Babel==2.1.1
pytz==2015.7
alabaster==0.7.6
sphinx-rtd-theme==0.1.9
docutils==0.12
Jinja2==2.8
MarkupSafe==0.23
Pygments==2.0.2

# Miscellaneous
Paver==1.2.4
bumpversion==0.5.3
colorama==0.3.3
