# Runtime requirements
--requirement requirements.txt

# Testing
pytest
httpretty==0.8.10  # latest versions break py3: 0.8.11 and 0.8.12
mock
funcsigs
pbr

# Coverage
pytest-cov
coverage
py

# Linting
flake8
mccabe
pycodestyle
pyflakes

# Documentation
Sphinx
Babel
pytz
alabaster
sphinx-rtd-theme
docutils
Jinja2
MarkupSafe
Pygments
snowballstemmer

# Miscellaneous
Paver
bumpversion
colorama
